.app_container{
    display: flex;
    flex-direction: column;
    row-gap: 5em;
    justify-content: center;
    align-items: center;

}
.line_container{
    width: 800px;
    height: 400px;
    border-radius: 10px;
    padding: 2em;
    background-color: #2D2D2D;
}

.date_container {
    display: flex;
    column-gap: 2em;
}
